.app{
   position: relative;
   margin: 5px;
}
.body{
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
}
.side__navbar{
    margin: 0;
    text-align: center;
    justify-content: left;
}
.content__div{
    position: relative;
    overflow: hidden;   
    width: 80%;
}
